<div class="container">
  <div>
    <h1 class="text-center"> Welcome To Todo: <span>A place where stuff gets done!</span> </h1>
  </div>
  <div id="not_completed">
    <% @todos.each do |todo| %>
    <div class="todo row well simple-border">

      <p class="inline"> <%= todo.body %> </p>
      <p class="inline">Done? <%= todo.completed %> </p>
      <%=button_to 'Check Off', {action: 'finished', id: todo.id}, method: :patch, class: "btn btn-success center-block"%>
      <%= button_to 'Delete', {action: 'destroy', id: todo.id}, method: :delete, class: "btn btn-danger center-block"%>
    </div>
    <% end %>
  </div>
  <%= render 'new'%>
    <i class="fa fa-trash fa-4x"></i>
</div>

